Repository honeycombio/beeline-ruby, pull requests merged in 2021-06, with the labels that each got.

#147 Updates Redis event-field filter to handle string keys in options in addition to symbol keys.
  lib/honeycomb/integrations/redis.rb
  spec/honeycomb/integrations/redis_spec.rb
Labels: type: bug, version: bump patch

#149 prepare for 2.4.1 release
  CHANGELOG.md
  Gemfile.lock
  lib/honeycomb/beeline/version.rb
Labels: version: no bump

#154 make Rails spec consistent with Honeycomb Railtie initialization
  spec/honeycomb/integrations/rails_spec.rb
Labels: type: maintenance, version: no bump

#155 CI improvements
  .circleci/bundler_version.sh
  .circleci/config.yml
  .gitignore
  .rspec
  Gemfile.lock
  gemfiles/rails_61.gemfile
  honeycomb-beeline.gemspec
Labels: status: review needed, version: no bump

#146 Improve performance of Redis command serialization
  lib/honeycomb/integrations/redis.rb
  spec/honeycomb/integrations/redis_spec.rb
Labels: status: review needed

#156 Version bump to 2.4.2
  CHANGELOG.md
  Gemfile.lock
  lib/honeycomb/beeline/version.rb
Labels: status: review needed, version: bump patch
