Repository honeycombio/beeline-ruby, pull requests merged in 2021-07, with the labels that each got.

#160 Allow backtrace to be sent with errors
  .tool-versions
  lib/honeycomb/client.rb
  lib/honeycomb/configuration.rb
  spec/honeycomb/client_spec.rb
  spec/honeycomb/configuration_spec.rb
Labels: status: info needed, status: revision needed, type: enhancement, version: bump minor

#161 Prepare 2.5.0 release
  CHANGELOG.md
  Gemfile.lock
  lib/honeycomb/beeline/version.rb
Labels: type: maintenance, version: bump minor

#152 Allow setting different notification handling logic for specific events
  lib/honeycomb/integrations/active_support.rb
  spec/honeycomb/integrations/active_support_spec.rb
Labels: status: review needed, type: enhancement
